@model IEnumerable<speedyRecruitApp.Models.Education>

@{
    ViewBag.Title = "Index";
}
<link rel="shortcut icon" type="image/x-icon" href="AB.png">
<link rel="stylesheet" href="~/Content/Login.css">
<link rel="stylesheet" href="~/Content/Candidate.css">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date_Obtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Obtained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Edu_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Edu_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Edu_Id })
            </td>
        </tr>
    }

</table>
